 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: 'Barlow Condensed', sans-serif;
     font-family: 'M PLUS 1p', sans-serif;
 }
 
 .desktop {
     display: none;
 }
 
 @media (min-width:758px) {
     .desktop {
         display: initial;
     }
 }
 
 header {
     display: grid;
     grid-template-columns: auto 1fr auto;
     padding: 5px 20px;
     position: fixed;
     top: 0;
     z-index: 2;
     width: 100%;
 }
 
 a.logo {
     height: 12px;
     width: 100px;
     color: inherit;
 }
 
 header nav a {
     text-decoration: none;
     padding: 5px 10px;
     color: #171a20;
 }
 
 header nav.center {
     text-align: center;
 }
 
 header nav.right {
     text-align: right;
 }
 
 section {
     height: 100vh;
     background-size: cover;
     background-position: center center;
 }
 
 section .content {
     width: 100%;
     height: 100vh;
     padding-top: 15vh;
     padding-bottom: 15vh;
     text-align: center;
     display: grid;
     grid-template-rows: min-content auto min-content;
 }
 
 section h1 {
     font-size: 3rem;
 }
 
 section a {
     color: inherit;
 }
 
 section .buttons a {
     display: block;
     background-color: #eee;
     color: inherit;
     padding: 12px 50px;
     border-radius: 25px;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 500;
     margin: 20px;
 }
 
 section .buttons a:first-child {
     background-color: #444;
     color: #fff;
 }
 
 section .buttons {
     display: flex;
     max-width: 640px;
     margin: 40px;
     justify-content: space-between;
     margin: auto;
     flex-direction: column;
 }
 
 @media (min-width:425px) {
     section .buttons {
         flex-direction: column;
     }
 }
 
 @media (min-width:768px) {
     section .buttons {
         flex-direction: row;
     }
 }
 
 aside {
     position: fixed;
     width: 300px;
     right: -320px;
     transition: right .6s ease;
     background-color: #fff;
     padding: 80px 40px;
     z-index: 4;
     text-decoration: none;
     padding: 20px 0;
     height: 100vh;
 }
 
 aside.active {
     right: 0;
 }
 
 aside a {
     display: block;
     color: inherit;
     width: 250px;
     text-decoration: none;
     padding: 12px 20px;
     font-weight: 500;
     font-size: 14px;
 }
 
 aside button.close {
     font-size: 24px;
     border: 0;
     background-color: transparent;
     position: absolute;
     top: 0px;
     right: 10px;
     padding: 20px;
     cursor: pointer;
 }
 
 .backdrop {
     display: none;
     position: fixed;
     inset: 0;
     background-color: rgb(0, 0, 0, 0.35);
     backdrop-filter: blur(5px);
 }
 
 .backdrop.active {
     display: block;
 }